/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* font  */
  --font-urbanist: "Urbanist", sans-serif;
  /* color schema  */
  --color-bg: #eaeced;
  --color-bg1: #03373d;
  --color-bg2: #0b0b0b;

  --color-text: #606060;
  --color-heading: #03373d;
  --color-baseColor: #caeb66;

  /* breakpoint schema  */
  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}
/* Better box sizing everywhere */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply bg-bg text-text antialiased scroll-smooth font-urbanist;
}

.bannerSlide .swiper-scrollbar {
  @apply bg-baseColor/20;
}
.bannerSlide .swiper-scrollbar-drag {
  @apply bg-baseColor;
}

.testimonial-swiper .swiper-pagination-bullet {
  @apply bg-bg1;
}
.testimonial-swiper .swiper {
  @apply pb-5;
}
.testimonial-swiper .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -5px);
}
.testimonial-swiper .swiper-pagination-bullet-active {
  @apply bg-baseColor;
}
